body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #3498db; /* Fondo azul */
    color: #000; /* Texto negro */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1c{
    text-align: center;
    background-color: #000000; /* Fondo azul */
    color: rgb(243, 160, 160); /* Texto negro */

}

.content {
    margin-bottom: 20px;
}

.image {
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
